body{
    font-family: 'Open Sans', sans-serif;
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title{
    padding: 10px;
    text-align: center;
    font-weight: 600;
    

}

.heading{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.author{
    font-size: 20px;
    text-decoration: none;
}

.avatar-container{
    background-color: #ffffff;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    /* box-shadow:  0px 0px 1px 1px #000000;} */
    box-shadow: #0000003e 1.95px 1.95px 2.6px;
}
.rounded-bg{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    border-radius: 20px;
    padding: 10px;
    box-shadow: #0000000d 1.95px 1.95px 2.6px;

}

.stats{
    background-color: #ffffff;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #0000003e 1.95px 1.95px 2.6px;
    width: 100%;
    padding: 10px;
}

.avatar{
    border-radius: 5px;
    
}

.username a{
    text-decoration: none;
    font-size: 35px;
    /* font-weight: 600; */
}

.followers, .repo-count{
    font-size: 17px;
    border-radius: 20px;
    background-color: #efefef;
    display: inline;
    padding: 3px 6px;
    
}

.user-info, .top-repos{
    visibility: hidden;
}

.repo{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: #0000000d 1.95px 1.95px 2.6px;

    
}

.repo-name, .repo-stars, .repo-forks{
    background-color: #efefef;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    
}

.repo-stars, .repo-forks{
    justify-self: end;
}

.repo-name a{
    text-decoration: none;
}

.theme-button{
    border: 0;
    border-radius: 40px;
    margin-left: 30px;
    font-size: 12px;
    background-color: #242424;
    color: #ffffff;
    align-self: center;
}


.dark-theme{
    background: #0d0d0d;
    color: #ffffff;
}

.dark-theme .theme-button{
    background-color: #efefef;
    color: #000000;
}

.dark-theme .stats, .dark-theme , .dark-theme .avatar-container{
    background-color: #1b1b1b;

}

.dark-theme .followers, .dark-theme .repo-count{
    background-color:#242424;
}

.dark-theme .repo{
    background-color: #141414;
}

.dark-theme .rounded-bg, .dark-theme .repo-name, .dark-theme .repo-forks, .dark-theme .repo-stars{
    background-color: #242424;
}